.home_div{
background-image: url('../black-back.jpg');
background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  overflow:hidden;
}
.form_button{
    
        display: inline-block;
        text-decoration: none;
        border-radius: 30px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 8px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      
}
.p_filtros{
    color:white
}
.filtro_nombre{
    display:flexbox;
    margin-right: 10px;
    align-self:flex-start;
    padding: 80px;
}
.filtro_peso{
    display: flexbox;
    margin-right: 10px;
    align-self: flex-start;
    padding: 80px;
}
.filtro_temperamento{
    display: flexbox;
    margin-right: 10px;
    align-self: flex-start;
    padding: 80px;
}
.filtro_origen{
    display: flexbox;
    align-self: flex-end;
    padding: 80px;
}

.home_title{
    color: white;
    font-size: 50px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}