.paginado{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagelist{
    display: inline;
}

.pagenumber{
    background-color: lightblue;
    color: black;
    float: left;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px 4px;
}

.pagenumber:hover{
    background-color: orangered;
}

.pagenumber:active{
    background-color: red;
}


